@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(229 231 235);

}
.pixelart {
  image-rendering: pixelated;
}
.eye {
    top : 25%;
    position: absolute;
}
.eye.left {
    left: 10%;
    width: 50%;
    height: 50%;
}
.eye.right {
    right: 10%;
    width: 50%;
    height: 50%;
}
.robot {
    position: absolute;
    width: 75%;
    height: 75%;
}

.robotcontainer {
    position: absolute;
    width: 75%;
    height: 75%;
    top: 0%;
    left: 0%;
}

.logo {
    position: absolute;
    bottom: 13%;
    right: 7%;
}

@media (max-width: 768px) {
    .logo {
        position: relative;
    }

}
