@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(229 231 235);

}
.pixelart {
  image-rendering: pixelated;
}
.eye {
    top : 44%;
    position: absolute;
}
.eye.left {
    left: 30%;
}
.eye.right {
    right: 30%;
}
.robot {
    position: relative;
}

.robotcontainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
